$color_1: #da6b64;
$color_2: #d84940;
$color_3: #ebb94d;
$color_4: #f7c23c;
$color_5: #fef5e0;
$color_6: #337ab7;
$color_7: #c7245e;
$color_8: #016ea9;
$color_9: #777;
$color_10: #e5e5e5;
$color_11: #f4f4f4;
$color_12: #ddd;
$color_13: #ececec;

$color_white: #ffffff;
