@charset "UTF-8";

/* iPhone  */

@media screen and (min-width: 480px) {
    /* for iPhone Landscape (iPhone) */
}

@media screen and (min-width: 768px) {
    /* 後々は、mediaクエリを入れ子にして、⇒の2個に分割予定。　
  　　　　　　　　　　　　　　　　　　　　　　media screen and (min-width: 768px) and (max-width: 1190px) 　media screen and (min-width: 1190px) */
    body {
        .btn {
            color: #ffffff;
            text-align: center;
            background-color: #da6b64;
            border: 1px;
            border-color: #ffffff;
            border-radius: 50px;
            /* 影を消すため */
            outline: none;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #d84940;
        }

        p {
            font-family: 'Hiragino Kaku Gothic Pro', Meiryo, Osaka, 'MS PGothic',
                sans-serif;
            letter-spacing: 0.1rem;
            text-align: center;
        }
        h2 {
            padding-top: 28px;
            padding-left: 13px;
            font-weight: 600;
            font-size: 1.75em;
            font-family: 'Hiragino Kaku Gothic Pro', Meiryo, Osaka, 'MS PGothic',
                sans-serif;
            letter-spacing: 0.1rem;
            text-align: center;
        }

        .sub_main_title {
            position: relative;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 798px;
            margin: auto;
            margin-bottom: 54px;
            padding: 15px 30px;
            h2 {
                line-height: 40px;
            }
        }
        .sub_main_title::before,
        .sub_main_title::after {
            position: absolute;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 20px;
            height: 50px;
            content: '';
        }
        .sub_main_title::before {
            top: 0;
            left: -31px;
            width: 50px;
            height: 50px;
            border-top: 4px solid #ebb94d;
            border-left: 4px solid #ebb94d;
        }
        .sub_main_title::after {
            right: -31px;
            bottom: -17px;
            width: 50px;
            height: 50px;
            border-right: 4px solid #ebb94d;
            border-bottom: 4px solid #ebb94d;
        }

        .circle_mark {
            width: 80px; /*幅*/
            height: 80px; /*高さ*/
            margin: auto;
            line-height: 80px;
            text-align: center;
            background: #ebb94d; /*背景色*/
            border-radius: 50%; /*角丸*/
            p {
                color: #ffffff;
                font-size: 0, 875rem;
            }
        }

        .font_color1 {
            color: #ebb94d;
        }

        .font_size0 {
            font-size: 0.875rem;
            line-height: 21px;
        }

        .font_size1 {
            font-size: 1rem;
        }
        .font_size1_5 {
            font-size: 1.125rem;
            line-height: 28px;
        }
        .font_size2 {
            font-size: 1.25rem;
        }
        .font_size2_5 {
            font-size: 1.5rem;
        }

        .font_size3 {
            font-size: 1.75rem;
        }

        .font-weightw1 {
            font-weight: 600;
        }
        ul {
            list-style: none;
        }
        .sns_btn {
            height: 43px;
            margin: 24px 0 0 0;
            .sns_btn_inner {
                position: relative;
                left: 50.5%;
                float: left;
                height: 0;
                .fb,
                .tw {
                    position: relative;
                    left: -50%;
                    float: left;
                    height: 2px;
                    margin: 0 10px 0 0;
                }
            }
        }
    }

    /* --------------------------------
 * header
 * -------------------------------- */
    header {
        position: fixed;
        z-index: 999;
        width: 100%;
        background-color: #fff;
    }
    .header {
        display: flex;
        justify-content: space-between;
        width: 1161px;
        height: 45px;
        margin: auto;
        padding: 16px 0;

        .logo_title {
            display: flex;
            .logo {
                img {
                    width: 128px;
                    height: auto;
                }
            }

            .title {
                margin-top: 25px;
                margin-left: 1%;
                p {
                    width: 104%;
                    font-weight: 600;
                    font-size: 0.875rem;
                }
            }
        }
        .btn {
            width: 317px;
            height: 44.4px;
            p {
                font-size: 0.875rem;
            }
        }
    }

    .title_image_margin {
        height: 79px; /* 画像がヘッダーで隠れる　対策 */
    }

    /* --------------------------------
 * title_image
 * -------------------------------- */
    .title_image {
        .image {
            height: 500px;
            background: url('../images/main.jpg') no-repeat;
            background-position: center;
            background-size: cover;
        }
        .title1 {
            position: absolute;
            top: 175px;
            right: 0;
            left: 0;
            margin: auto;

            p {
                margin-bottom: 25px;
                font-weight: 600;
                font-size: 1.75rem;
                text-align: center;
            }
        }
        .title2 {
            text-align: center;
            img {
                position: absolute;
                top: 275px;
                right: 0;
                left: 0;
                width: 317px;
                margin: auto;
            }
        }
        .title3 {
            position: absolute;
            top: 430px;
            right: 0;
            left: 0;
            margin: auto;

            p {
                font-weight: 600;
                font-size: 1.25rem;
                text-align: center;
            }
        }
    }

    /* --------------------------------
 * main
 * -------------------------------- */
    .main {
        .sub_main1 {
            height: 532px;
            padding: 35px 0;
            background-color: #ebb94d;
            p {
                margin-bottom: 10px;
                color: white;
                font-weight: 600;
                font-size: 1.25rem;
                text-align: center;
            }

            .remarks {
                width: 549px;
                height: 20px;
                margin: 0 auto;
                margin-top: 20px;
                padding-top: 5px;
                text-align: center;
                background-color: #ffffff;
                border-radius: 4px;
            }

            .remarks p {
                margin-bottom: 10px;
                color: #c7245e;
                font-size: 1.125rem;
                font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
                text-align: center;
            }

            .sub_main1_btn_wrapper {
                margin-top: 51px;
                text-align: center;

                .sub_main1_btn {
                    width: 1024px;
                    height: 104.8px;

                    p {
                        margin-bottom: -10px;
                        font-size: 1.75rem;
                    }
                }
            }

            .info_period {
                margin-top: 75px;

                p {
                    margin-bottom: 40px;
                    font-size: 1.31rem;
                }
            }
        }
        .sub_main2 {
            width: auto;
            height: 519px;
            padding: 40px 0;
            background-color: #fef5e0;
            background-image: url(../images/introbottom.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            p {
                font-weight: 300;
                font-size: 1.25rem;
                line-height: 35px;
                text-align: center;
                .under_bar {
                    font-weight: 600;
                    background: linear-gradient(transparent 70%, #ebb94d 70%);
                }
            }
        }

        .sub_main3 {
            height: 538px;
            padding: 40px 0;
            background-color: #fef5e0;
            .circle_mark3 {
                margin-top: -78px;
                p {
                    color: #ffffff;
                    font-size: 0, 875rem;
                }
            }
            .sub_main3_title {
                margin: 24px;
            }
            .txt_1 p {
                font-weight: 600;
                font-size: 1.25rem;
                text-align: center;
            }
            .white_box {
                width: 92%;
                height: 171px;
                margin: 30px auto;
                padding: 30px;
                text-align: center;
                background: white;
                border: 2px solid #ebb94d;
                border-radius: 5px;
                .white_box_title p {
                    font-weight: 600;
                    font-size: 1.25rem;
                }
                .five_skill {
                    display: flex;
                    justify-content: center;
                    .skill {
                        margin-top: 35px;
                        margin-left: 22px;

                        p {
                            margin-top: 10px;
                            font-weight: 300;
                            font-size: 0.75rem;
                        }
                    }
                    .img_margin {
                        margin-top: 24px;
                    }
                }
            }
        }

        .sub_main4 {
            width: auto;
            height: 361px;
            padding: 40px 0;
            color: #ffffff;
            background-image: url(../images/aboutsecondbg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            h2 {
                margin-bottom: 35px;
            }
            p {
                margin-bottom: 20px;
                font-weight: 600;
                font-size: 1.25rem;
                text-align: center;
            }
            .box_container {
                display: flex;
                justify-content: center;
                margin-top: 34px;
                .box {
                    width: 325px;
                    margin: 0 9px;
                    padding: 30px 30px 20px;
                    background-color: #ffffff;
                    border-radius: 5px;
                    .box_title p {
                        height: 20px;
                        margin-bottom: 31px;
                        padding-top: 6px;
                        color: #ffffff;
                        font-size: 1rem;
                        background-color: #ebb94d;
                        border-radius: 5px;
                    }
                    .box_sub_title p {
                        color: black;
                        font-size: 0.875rem;
                    }
                    p {
                        color: black;
                        font-size: 1rem;
                    }
                }
            }
        }

        .sub_main5 {
            padding: 40px 0;
            color: #fff;
            text-align: center;
            background-color: #016ea9;
            p {
                font-weight: 600;
                font-size: 1.25rem;
                line-height: 28px;
            }
        }

        .sub_main6 {
            padding: 24px 0;
            .sub_main6_txt1 {
                padding: 45px;
                font-size: 1.25rem;
            }
            .circle_container {
                display: flex;
                justify-content: center;
                img {
                    max-width: 84%;
                    max-height: 84%;
                }
            }
            .sub_main6_txt2 {
                padding: 45px;
                font-weight: 600;
            }
        }
        .sub_main7 {
            padding: 40px 0;
            background-color: #fef5e0;
            h2 {
                margin: -16px;
            }
            .merit_container {
                display: flex;
                justify-content: center;
                margin-top: 34px;
                .merit {
                    p {
                        padding: 17px 0 0 0;
                        font-weight: 700;
                        text-align: left;
                    }
                    img {
                        width: 370px;
                        height: 194px;
                        object-fit: cover; /* 画像をトリミング */
                    }
                    margin: 14px;
                    .merit_txt {
                        width: 362px;
                        p {
                            font-weight: 300;
                            line-height: 22px;
                        }
                    }
                }
            }
            .white_box {
                width: 92%;
                height: 191px;
                margin: 30px auto;
                padding: 30px;
                text-align: center;
                background: white;
                border: 2px solid #ebb94d;
                border-radius: 5px;
                .white_box_container {
                    width: 780px;
                    margin: auto;
                    font-weight: 600;
                    .white_box_title {
                        padding: 25px;
                        font-size: 1.75rem;
                    }
                    .white_box_sub_title {
                        margin-bottom: 23px;
                    }
                    p {
                        line-height: 21px;
                    }
                }
            }
            .sub_info {
                padding: 13px;
            }
        }
        .sub_main8 {
            padding: 40px 0;
            color: #ffffff;
            text-align: center;
            background-image: url(../images/teacherbg.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .sub_main8_msg {
                padding: 25px;
                font-weight: 600;
            }
            .sub_main8_members {
                display: flex;
                flex-wrap: wrap;
                width: 794px;
                margin: auto;
                .member {
                    width: 45%;
                    margin: 0 16px;
                    font-weight: 300;
                    text-align: center;
                    img {
                        position: relative;
                        bottom: -35px;
                        border-radius: 50%;
                    }
                    .member_box {
                        padding: 1px;
                        padding: 26px 0px;
                        border: 3px solid #fff;
                        .txt1 {
                            padding-top: 14px;
                        }
                        .txt2 {
                            padding: 24px 31px;
                            line-height: 27px;
                            text-align: left;
                        }
                    }
                }
            }
        }
        .sub_main9 {
            .sub_main9_header {
                position: relative;
                display: inline-block;
                width: 100%;
                padding: 32px 0;
                background-color: #ebb94d;
                .circle_mark9 {
                    background-color: #ffffff;
                    p {
                        color: #ffffff;
                        color: #ebb94d;
                        font-size: 0, 875rem;
                    }
                }
                .sub_main_title {
                    margin-bottom: 21px;
                }
                .sub_main_title::before {
                    border-top-color: #ffffff;
                    border-left-color: #ffffff;
                }
                .sub_main_title::after {
                    border-color: #ffffff;
                    border-color: #ffffff;
                }
                h2 {
                    padding-top: 0px;
                    padding-bottom: 0px;
                    color: #ffffff;
                }
            }
            .sub_main9_header:before {
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -25px;
                border: 25px solid transparent;
                border-top: 25px solid #ebb94d;
                content: '';
            }
            .sub_main9_container {
                padding: 49px 0;
                text-align: center;
                .txt1 {
                    padding: 20px;
                }
                .txt2 {
                    padding: 30px;
                }
                .msg_container {
                    width: 679px;
                    margin: auto;
                    .msg {
                        display: flex;
                        margin-bottom: 42px;
                        color: #777;
                        font-style: italic;
                        img {
                            width: 200px;
                            height: 200px;
                            border: 3px solid #ebb94d;
                        }
                        .txt3 {
                            padding: 25px;
                            text-align: left;
                        }
                        .name {
                            font-size: 0.956rem;
                            text-align: left;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .sub_main10 {
            height: 819px;
            margin-top: -35px;
            background: url('../images/classbg.jpg') no-repeat;
            background-position: center;
            background-size: cover;
            h2 {
                color: #ffffff;
            }
            .txt1 {
                padding: 21px;
                color: #ffffff;
            }
            .listbox_container {
                display: flex;
                max-width: 805px;
                margin: 0 auto;
                padding: 40px 0;

                .list {
                    width: 50%;
                    height: 100%;
                    margin: 0px 18px;
                    padding: 0;
                    background-color: #ffffff;
                    border: 2px solid #016ea9;
                    border-radius: 5px;
                    .txt2 {
                        padding: 21px;
                        color: #ffffff;
                        background-color: #016ea9;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                    }
                    li {
                        padding: 16px;
                        font-weight: 600;
                        text-align: center;
                        border-bottom: 1px dotted #e5e5e5;
                    }
                }
            }
        }
        .sub_main11 {
            padding: 40px 0;
            color: #fff;
            text-align: center;
            background-color: #016ea9;
            .txt1 {
                line-height: 34px;
            }
        }
        .sub_main12 {
            padding: 40px 0;
            text-align: center;
            .flow {
                max-width: 100%;
                padding: 56px;
            }
            .box_container {
                display: flex;
                width: 1155px;
                margin: 0 auto;
                padding: 10px 3px;
                background-color: #fef5e0;
                border-radius: 10px;
                .box_title {
                    width: 186px;
                    padding: 4% 0px 1% 30px;

                    .txt1 {
                        padding: 13px;
                    }
                }
                .txt_area {
                    width: 914px;
                    margin: 21px;
                    .txt2 {
                        margin-top: 27px;
                        line-height: 20px;
                        text-align: left;
                    }
                    .txt3 {
                        width: 897px;
                    }
                }
            }
        }
        .sub_main13 {
            padding: 80px 80px;
            color: #ffffff;
            background: url('../images/bangkokbg.jpg') no-repeat;
            background-position: center;
            background-size: cover;
            p {
                padding: 11px;
                text-align: left;
            }
        }
        .sub_main14 {
            height: 600px;
            padding: 40px 0;
            text-align: center;
            background-color: #f7c23c;
            .txt1 {
                color: #ffffff;
            }
            .txt2 {
                padding: 39px;
            }

            .white_box {
                position: relative;
                width: 1026px;
                margin: 52px 56px 0px 56px;
                margin-right: auto;
                margin-left: auto;
                padding: 58px;
                border: 2px solid #fff;
                .box_title {
                    position: absolute;
                    top: -49px;
                    left: 20%;
                    background-color: #f7c23c;
                }
                .box_circle_container {
                    display: flex;
                    justify-content: center;
                    .circle {
                        width: 225px;
                        height: 225px;
                        margin: auto;
                        padding: 24px 24px;
                        padding-top: 24px;
                        line-height: 80px;
                        text-align: center;
                        background: #ffffff;
                        border-radius: 50%;
                        p {
                            color: #ebb94d;
                        }
                        .txt3 {
                            color: black;
                            line-height: 23px;
                        }
                    }
                }
            }
        }
        .sub_main15 {
            margin-top: 44px;
            padding: 80px 80px;
            color: #ffffff;
            background: url('../images/specialdetail.jpg') no-repeat;
            background-position: center;
            background-size: cover;
            .sub_main15_txt1 {
                padding: 40px;
                line-height: 28px;
            }
            .sub_main_title::before {
                border-top-color: #ffffff;
                border-left-color: #ffffff;
            }
            .sub_main_title::after {
                border-color: #ffffff;
                border-color: #ffffff;
            }
            .sub_main15_txt2 {
                line-height: 28px;
            }
        }
        .sub_main16 {
            padding: 40px 0px;
            h2 {
                padding: 64px;
            }
            .sub_main16_container {
                display: flex;
                width: 893px;
                margin: 0 auto;
                padding: 41px 141px;
                img {
                    width: 220px;
                    height: 155px;
                }
                .msg {
                    padding-left: 24px;
                    p {
                        padding-bottom: 12px;
                        line-height: 22px;
                        text-align: left;
                    }
                    .sub_main16_txt1 {
                        padding-bottom: 32px;
                    }
                }
            }
        }
        .sub_main17 {
            padding: 40px 20%;
            background-color: #f7c23c;
            .sub_main17_txt1 {
                margin-bottom: 20px;
                padding: 16px;
            }
            input,
            textarea {
                width: 100%;
                height: 45px;
                margin-bottom: 25px;
                padding: 10px;
                border: none;
                border-radius: 5px;
            }
            textarea {
                height: 75px;
                margin-top: 25px;
            }
            .btn {
                height: 64px;
                margin-top: 11px;
                font-size: 1.4375rem;
                border-radius: 50px;
            }
        }
        .sub_main18 {
            padding: 40px 10%;
            h2 {
                margin-bottom: 45px;
            }
            .acd_check {
                display: none;
            }
            .acd_label {
                position: relative;
                display: block;
                height: 17px;
                margin-bottom: 1px;
                padding: 16px 0px 26px 27px;
                text-align: left;
                border: 1px solid #ddd;
                border-radius: 4px;
                .fa-question-circle-o:before {
                    color: #016ea9;
                }
            }
            label:hover {
                text-decoration: underline solid black;
                cursor: pointer;
            }
            .acd_label:after {
                position: absolute;
                top: 0px;
                right: 0;
                display: block;
                float: right;
                box-sizing: border-box;
                height: 52px;
                padding: 1px 20px;
                color: #e5e5e5;
                font-size: 3rem;
                font-family: FontAwesome;
                content: '\f107';
            }
            .acd_check:checked + .acd_label:after {
                content: '\f106';
            }
            .acd_content {
                height: 0;
                padding: 0 10px;
                border: 1px solid #f4f4f4;
                visibility: hidden;
                opacity: 0;
                transition: 0.5s;
                p {
                    padding: 0 23px;
                    line-height: 28px;
                    text-align: left;
                }
            }
            .acd_check:checked + .acd_label + .acd_content {
                height: auto;
                padding: 10px;
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .footer {
        position: relative;
        padding: 40px 15px 20px 15px;
        text-align: center;
        background-color: #ececec;
        .copyright {
            margin-bottom: -10px;
            padding-bottom: 5px;
            font-weight: 300;
            font-size: 0.625rem;
            line-height: 17px;
            a {
                color: #337ab7;
                text-decoration: none;
            }
        }
    }
    .pagetop {
        position: fixed;
        right: 50px;
        bottom: 90px;
        padding: 20px;
        font-size: 1.875rem;
        background-color: #ececec;
        visibility: visible;
        cursor: pointer;
        opacity: 0;
        .fa-chevron-up:before {
            content: '\f077';
        }
    }
    .display {
        opacity: 1 !important;
        transition: 0.8s;
    }
    .none_display {
        opacity: 0 !important;
        transition: 0.8s;
    }
}
