@charset "UTF-8";
/* PC用　1190px～表示可能　*/
@media screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }
  body .brsp {
    display: none;
  }
  body .pc img {
    width: 80%;
  }
  body .sp_display {
    display: none;
  }
  body .btn {
    color: #ffffff;
    text-align: center;
    background-color: #da6b64;
    border: 1px;
    border-color: #ffffff;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  body .btn:hover {
    background-color: #d84940;
  }
  body p {
    font-family: 'Hiragino Kaku Gothic Pro', Meiryo, Osaka, 'MS PGothic', sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  body h1 {
    width: 254px;
    font-size: 0.875rem;
  }
  body h2 {
    padding-top: 28px;
    padding-left: 13px;
    font-weight: 600;
    font-size: 1.75em;
    font-family: 'Hiragino Kaku Gothic Pro', Meiryo, Osaka, 'MS PGothic', sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  body .sub_main_title {
    position: relative;
    width: 62%;
    margin: auto;
    margin-bottom: 54px;
    padding: 15px 30px;
  }
  body .sub_main_title h2 {
    line-height: 40px;
  }
  body .sub_main_title::before,
  body .sub_main_title::after {
    position: absolute;
    width: 20px;
    height: 50px;
    content: '';
  }
  body .sub_main_title::before {
    top: 0;
    left: -31px;
    width: 50px;
    height: 50px;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }
  body .sub_main_title::after {
    right: -31px;
    bottom: -17px;
    width: 50px;
    height: 50px;
    border-right: 4px solid #ebb94d;
    border-bottom: 4px solid #ebb94d;
  }
  body .circle_mark {
    width: 80px;
    height: 80px;
    margin: auto;
    line-height: 80px;
    text-align: center;
    background: #ebb94d;
    border-radius: 50%;
  }
  body .circle_mark p {
    color: #ffffff;
    font-size: 0.875rem;
  }
  body .font_color1 {
    color: #ebb94d;
  }
  body .font_size0 {
    font-size: 0.875rem;
    line-height: 21px;
  }
  body .font_size1 {
    font-size: 1rem;
  }
  body .font_size1_5 {
    font-size: 1.125rem;
    line-height: 28px;
  }
  body .font_size2 {
    font-size: 1.25rem;
  }
  body .font_size2_5 {
    font-size: 1.5rem;
  }
  body .font_size3 {
    font-size: 1.75rem;
  }
  body .font-weightw1 {
    font-weight: 600;
  }
  body ul {
    list-style: none;
  }
  body .sns_btn {
    height: 43px;
    margin: 24px 0 0 0;
  }
  body .sns_btn .sns_btn_inner {
    position: relative;
    left: 50.5%;
    float: left;
    height: 0;
  }
  body .sns_btn .sns_btn_inner .fb,
  body .sns_btn .sns_btn_inner .tw {
    position: relative;
    left: -50%;
    float: left;
    height: 2px;
    margin: 0 10px 0 0;
  }
  /* --------------------------------
 * header
 * -------------------------------- */
  header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
  }
  .header {
    margin: 0 auto;
  }
  .header .header_title {
    position: relative;
    top: -14px;
    display: flex;
    justify-content: space-between;
    width: 89%;
    height: 76px;
    margin: 0 auto;
    padding: 30px 0;
    background-color: white;
  }
  .header .header_btn_pc_wrapper {
    display: none;
  }
  .header .logo_title {
    display: flex;
  }
  .header .logo_title .logo img {
    width: 128px;
    height: auto;
  }
  .header .logo_title .title {
    margin-top: 25px;
    margin-left: 1%;
  }
  .header .logo_title .title p {
    width: 104%;
    font-weight: 600;
    font-size: 0.875rem;
  }
  .header .btn {
    width: 317px;
    height: 44.4px;
  }
  .header .btn p {
    font-size: 0.875rem;
  }
  .title_image_margin {
    height: 79px;
  }
  /* --------------------------------
 * title_image
 * -------------------------------- */
  .title_image .image {
    height: 500px;
    background: url("../images/main.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .title_image .title1 {
    position: absolute;
    top: 175px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .title_image .title1 p {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
  }
  .title_image .title2 {
    text-align: center;
  }
  .title_image .title2 img {
    position: absolute;
    top: 275px;
    right: 0;
    left: 0;
    width: 317px;
    margin: auto;
  }
  .title_image .title3 {
    position: absolute;
    top: 430px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .title_image .title3 p {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }
  /* --------------------------------
 * main
 * -------------------------------- */
  .main .container-fluid {
    height: 607px;
    padding: 35px 0;
    background-color: #ebb94d;
  }
  .main .container-fluid p {
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }
  .main .container-fluid .remarks {
    width: 549px;
    height: 28px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .main .container-fluid .remarks p {
    margin-bottom: 10px;
    color: #c7245e;
    font-size: 1.125rem;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    text-align: center;
  }
  .main .container-fluid .container-fluid_btn_wrapper {
    margin-top: 51px;
    text-align: center;
  }
  .main .container-fluid .container-fluid_btn_wrapper .container-fluid_btn {
    width: 69%;
    height: 104.8px;
  }
  .main .container-fluid .container-fluid_btn_wrapper .container-fluid_btn p {
    margin-bottom: -10px;
    font-size: 1.75rem;
  }
  .main .container-fluid .info_period {
    margin-top: 75px;
  }
  .main .container-fluid .info_period p {
    margin-bottom: 40px;
    font-size: 1.31rem;
  }
  .main .introduction {
    width: auto;
    height: 613px;
    padding: 40px 0;
    background-color: #fef5e0;
    background-image: url(../images/introbottom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .introduction .txt1 {
    width: 100%;
    margin: 0 auto;
  }
  .main .introduction .txt1 p {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 35px;
    text-align: center;
  }
  .main .introduction .txt1 p .under_bar {
    font-weight: 600;
    background: linear-gradient(transparent 70%, #ebb94d 70%);
  }
  .main .about {
    height: 620px;
    padding: 40px 0;
    background-color: #fef5e0;
  }
  .main .about .circle_mark3 {
    margin-top: -78px;
  }
  .main .about .circle_mark3 p {
    color: #ffffff;
    font-size: 0.875rem;
  }
  .main .about .about_title {
    margin: 24px;
  }
  .main .about .txt_1 p {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }
  .main .about .white_box {
    width: 82%;
    margin: 30px auto;
    padding: 45px;
    text-align: center;
    background: white;
    border: 2px solid #ebb94d;
    border-radius: 5px;
  }
  .main .about .white_box .white_box_title p {
    font-weight: 600;
    font-size: 1.25rem;
  }
  .main .about .white_box .five_skill {
    display: flex;
    justify-content: center;
  }
  .main .about .white_box .five_skill .skill {
    margin-top: 35px;
    margin-left: 22px;
  }
  .main .about .white_box .five_skill .skill p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 0.75rem;
    line-height: 18px;
  }
  .main .about .white_box .five_skill .img_margin {
    margin-top: 24px;
  }
  .main .aboutsecond {
    width: auto;
    padding: 40px 0;
    color: #ffffff;
    background-image: url(../images/aboutsecondbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .aboutsecond h2 {
    margin-bottom: 35px;
  }
  .main .aboutsecond p {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }
  .main .aboutsecond .aboutsecond__box_container {
    display: flex;
    justify-content: center;
    margin-top: 34px;
  }
  .main .aboutsecond .aboutsecond__box_container .box {
    width: 26%;
    margin: 0 9px;
    padding: 30px 30px 20px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .main .aboutsecond .aboutsecond__box_container .box .box_title p {
    height: 20px;
    margin-bottom: 31px;
    padding-top: 6px;
    color: #ffffff;
    font-size: 1rem;
    background-color: #ebb94d;
    border-radius: 5px;
  }
  .main .aboutsecond .aboutsecond__box_container .box .box_sub_title p {
    color: black;
    font-size: 0.875rem;
  }
  .main .aboutsecond .aboutsecond__box_container .box p {
    color: black;
    font-size: 1rem;
  }
  .main .aboutthird {
    padding: 40px 0;
    color: #ffffff;
    text-align: center;
    background-color: #016ea9;
  }
  .main .aboutthird p {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 28px;
  }
  .main .learning {
    padding: 24px 0;
  }
  .main .learning .learning_txt1 {
    padding: 45px;
    font-size: 1.25rem;
  }
  .main .learning .circle_container {
    display: flex;
    justify-content: center;
  }
  .main .learning .circle_container .circle {
    margin: 0 15px;
    text-align: center;
  }
  .main .learning .circle_container img {
    width: 100%;
    height: 100%;
  }
  .main .learning .learning_txt2 {
    padding: 45px;
    font-weight: 600;
  }
  .main .merit {
    padding: 40px 0;
    background-color: #fef5e0;
  }
  .main .merit h2 {
    margin: -16px;
  }
  .main .merit .merit_container {
    display: flex;
    justify-content: center;
    margin-top: 34px;
  }
  .main .merit .merit_container .merit {
    width: 27%;
    margin: 14px;
  }
  .main .merit .merit_container .merit p {
    padding: 17px 0 0 0;
    font-weight: 700;
    text-align: left;
  }
  .main .merit .merit_container .merit img {
    width: 100%;
    height: 194px;
    object-fit: cover;
    /* �摜���g���~���O */
  }
  .main .merit .merit_container .merit .merit_txt {
    width: 100%;
  }
  .main .merit .merit_container .merit .merit_txt p {
    font-weight: 300;
    line-height: 22px;
  }
  .main .merit .white_box {
    width: 91%;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    background: white;
    border: 2px solid #ebb94d;
    border-radius: 5px;
  }
  .main .merit .white_box .white_box_container {
    width: 100%;
    margin: auto;
    font-weight: 600;
  }
  .main .merit .white_box .white_box_container .white_box_title {
    padding: 25px;
    font-size: 1.75rem;
  }
  .main .merit .white_box .white_box_container .white_box_sub_title {
    margin-bottom: 23px;
  }
  .main .merit .white_box .white_box_container p {
    line-height: 21px;
  }
  .main .merit .sub_info {
    padding: 13px;
  }
  .main .teacher {
    padding: 40px 0;
    color: #ffffff;
    text-align: center;
    background-image: url(../images/teacherbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .teacher h2 {
    padding: 24px 0;
  }
  .main .teacher .teacher_msg {
    padding: 25px;
    font-weight: 600;
  }
}

@media screen and (min-width: 769px) and (min-width: 769px) and (max-width: 991px) {
  .main .teacher .teacher_members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .main .teacher .teacher_members .member {
    width: 100%;
    margin: 0 16px;
    font-weight: 300;
    text-align: center;
  }
  .main .teacher .teacher_members .member img {
    position: relative;
    bottom: -35px;
    border-radius: 50%;
  }
  .main .teacher .teacher_members .member .member_box {
    padding: 1px;
    padding: 26px 0px;
    border: 3px solid #ffffff;
  }
  .main .teacher .teacher_members .member .member_box .txt1 {
    padding-top: 14px;
  }
  .main .teacher .teacher_members .member .member_box .txt2 {
    padding: 24px 31px;
    line-height: 27px;
    text-align: left;
  }
}

@media screen and (min-width: 769px) and (min-width: 992px) {
  .main .teacher .teacher_members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin: auto;
  }
  .main .teacher .teacher_members .member {
    width: 38%;
    margin: 0 16px;
    font-weight: 300;
    text-align: center;
  }
  .main .teacher .teacher_members .member img {
    position: relative;
    bottom: -35px;
    border-radius: 50%;
  }
  .main .teacher .teacher_members .member .member_box {
    padding: 1px;
    padding: 26px 0px;
    border: 3px solid #ffffff;
  }
  .main .teacher .teacher_members .member .member_box .txt1 {
    padding-top: 14px;
  }
  .main .teacher .teacher_members .member .member_box .txt2 {
    padding: 24px 31px;
    line-height: 27px;
    text-align: left;
  }
}

@media screen and (min-width: 769px) {
  .main .why .why_header {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 32px 0;
    background-color: #ebb94d;
  }
  .main .why .why_header .circle_mark9 {
    background-color: #ffffff;
  }
  .main .why .why_header .circle_mark9 p {
    color: #ffffff;
    color: #ebb94d;
    font-size: 0.875rem;
  }
  .main .why .why_header .sub_main_title {
    margin-bottom: 21px;
  }
  .main .why .why_header .sub_main_title::before {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
  }
  .main .why .why_header .sub_main_title::after {
    border-color: #ffffff;
    border-color: #ffffff;
  }
  .main .why .why_header h2 {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
  }
  .main .why .why_header:before {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    border: 25px solid transparent;
    border-top: 25px solid #ebb94d;
    content: '';
  }
}

@media screen and (min-width: 769px) and (min-width: 769px) and (max-width: 991px) {
  .main .why .why_container {
    padding: 49px 0;
    text-align: center;
  }
  .main .why .why_container .txt1 {
    padding: 17px;
  }
  .main .why .why_container .txt2 {
    padding: 30px;
  }
  .main .why .why_container .msg_container {
    width: 100%;
    margin: auto;
    padding-left: 10px;
  }
  .main .why .why_container .msg_container .msg {
    display: flex;
    margin-bottom: 42px;
    color: #777;
    font-style: italic;
  }
  .main .why .why_container .msg_container .msg img {
    width: 244px;
    border: 3px solid #ebb94d;
  }
  .main .why .why_container .msg_container .msg .txt3 {
    padding: 25px;
    text-align: left;
  }
  .main .why .why_container .msg_container .msg .name {
    font-size: 0.956rem;
    text-align: left;
    text-decoration: underline;
  }
}

@media screen and (min-width: 769px) and (min-width: 992px) {
  .main .why .why_container {
    padding: 49px 0;
    text-align: center;
  }
  .main .why .why_container .txt1 {
    padding: 20px;
  }
  .main .why .why_container .txt2 {
    padding: 30px;
  }
  .main .why .why_container .msg_container {
    width: 55%;
    margin: auto;
  }
  .main .why .why_container .msg_container .msg {
    display: flex;
    margin-bottom: 42px;
    color: #777;
    font-style: italic;
  }
  .main .why .why_container .msg_container .msg img {
    width: 244px;
    border: 3px solid #ebb94d;
  }
  .main .why .why_container .msg_container .msg .txt3 {
    padding: 25px;
    text-align: left;
  }
  .main .why .why_container .msg_container .msg .name {
    font-size: 0.956rem;
    text-align: left;
    text-decoration: underline;
  }
}

@media screen and (min-width: 769px) {
  .main .answer_learn {
    height: 819px;
    margin-top: -35px;
    background: url("../images/classbg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .answer_learn h2 {
    color: #ffffff;
  }
  .main .answer_learn .txt1 {
    padding: 21px;
    color: #ffffff;
  }
  .main .answer_learn .listbox_container {
    display: flex;
    max-width: 805px;
    margin: 0 auto;
    padding: 40px 0;
  }
  .main .answer_learn .listbox_container .list {
    width: 50%;
    height: 100%;
    margin: 0px 18px;
    padding: 0;
    background-color: #ffffff;
    border: 2px solid #016ea9;
    border-radius: 5px;
  }
  .main .answer_learn .listbox_container .list .txt2 {
    padding: 21px;
    color: #ffffff;
    background-color: #016ea9;
  }
  .main .answer_learn .listbox_container .list ul {
    margin: 0;
    padding: 0;
  }
  .main .answer_learn .listbox_container .list li {
    padding: 16px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px dotted #e5e5e5;
  }
  .main .classbottom {
    padding: 40px 0;
    color: #ffffff;
    text-align: center;
    background-color: #016ea9;
  }
  .main .classbottom .txt1 {
    line-height: 34px;
  }
  .main .flow {
    padding: 40px 0;
    text-align: center;
  }
  .main .flow .flow__flow {
    max-width: 100%;
    padding: 56px;
  }
  .main .flow .box_container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 10px 3px;
    background-color: #fef5e0;
    border-radius: 10px;
  }
  .main .flow .box_container .box_title {
    width: 186px;
    padding: 4% 0px 1% 30px;
  }
  .main .flow .box_container .box_title .txt1 {
    padding: 13px;
  }
  .main .flow .box_container .txt_area {
    display: block !important;
    width: 82%;
    margin: 21px;
  }
  .main .flow .box_container .txt_area .txt2 {
    margin-top: 27px;
    line-height: 20px;
    text-align: left;
  }
  .main .flow .box_container .txt_area .txt3 {
    width: 102%;
  }
  .main .bangkok {
    padding: 80px 80px;
    color: #ffffff;
    background: url("../images/bangkokbg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .bangkok h2 {
    text-align: unset;
  }
  .main .bangkok p {
    padding: 13px;
    text-align: unset;
  }
  .main .bangkok .bangkok_merit {
    font-weight: 600;
  }
  .main .bangkok .bangkok_merit p {
    padding: 11px;
    text-align: left;
  }
  .main .special {
    padding: 40px 0;
    text-align: center;
    background-color: #f7c23c;
  }
  .main .special .txt1 {
    color: #ffffff;
  }
  .main .special .txt2 {
    padding: 39px;
  }
  .main .special .white_box {
    position: relative;
    width: 85%;
    margin: 52px 56px 0px 56px;
    margin-right: auto;
    margin-left: auto;
    padding: 58px;
    border: 2px solid #ffffff;
  }
  .main .special .white_box .box_title {
    width: 64%;
    margin: -84px auto;
    text-align: center;
    background-color: #f7c23c;
  }
  .main .special .white_box .box_circle_container {
    margin-top: 124px;
  }
}

@media screen and (min-width: 769px) and (min-width: 769px) and (max-width: 991px) {
  .main .special .white_box .box_circle_container {
    display: block;
  }
}

@media screen and (min-width: 769px) and (min-width: 992px) {
  .main .special .white_box .box_circle_container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) {
  .main .special .white_box .box_circle_container .circle {
    width: 244px;
    height: 244px;
    margin: 10px auto;
    padding: 24px 10px;
    padding-top: 24px;
    line-height: 80px;
    text-align: center;
    background: #ffffff;
    border-radius: 50%;
  }
  .main .special .white_box .box_circle_container .circle p {
    color: #ebb94d;
    font-size: 1.475rem;
  }
  .main .special .white_box .box_circle_container .circle .txt4 {
    width: 90%;
    color: black;
    font-size: 0.775rem;
    line-height: 2;
  }
  .main .special .white_box .box_circle_container .circle .txt3 {
    color: black;
    line-height: 23px;
  }
  .main .specialdetail {
    padding: 80px 80px;
    color: #ffffff;
    background: url("../images/specialdetail.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .specialdetail .specialdeteil_txt1 {
    padding: 40px;
    line-height: 28px;
  }
  .main .specialdetail .sub_main_title::before {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
  }
  .main .specialdetail .sub_main_title::after {
    border-color: #ffffff;
    border-color: #ffffff;
  }
  .main .specialdetail .specialdeteil_txt2 {
    line-height: 28px;
  }
  .main .learning {
    padding: 40px 0px;
  }
  .main .learning h2 {
    padding: 64px;
  }
}

@media screen and (min-width: 769px) and (min-width: 769px) and (max-width: 991px) {
  .main .learning .learning_container {
    width: 90%;
    margin: 0 auto;
    padding: 5px 5px;
  }
  .main .learning .learning_container img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 769px) and (min-width: 992px) {
  .main .learning .learning_container {
    display: flex;
    width: 87%;
    margin: 0 auto;
    padding: 41px 141px;
  }
  .main .learning .learning_container img {
    width: 220px;
    height: 155px;
  }
}

@media screen and (min-width: 769px) {
  .main .learning .learning_container .msg {
    padding: 24px;
  }
  .main .learning .learning_container .msg p {
    padding-bottom: 12px;
    line-height: 22px;
    text-align: left;
  }
  .main .learning .learning_container .msg .learning_txt1 {
    padding-bottom: 32px;
  }
  .main .contactform {
    padding: 40px 20%;
    background-color: #f7c23c;
  }
  .main .contactform .learning_txt1 {
    margin-bottom: 20px;
    padding: 16px;
  }
  .main .contactform input,
  .main .contactform textarea {
    width: 100%;
    height: 45px;
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  .main .contactform textarea {
    height: 75px;
    margin-top: 25px;
  }
  .main .contactform .btn {
    height: 64px;
    margin-top: 11px;
    font-size: 1.4375rem;
    border-radius: 50px;
  }
  .main .questions {
    padding: 40px 10%;
  }
  .main .questions h2 {
    margin-bottom: 45px;
  }
  .main .questions .click_mark {
    text-decoration: underline solid black;
  }
  .main .questions .qa-box {
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0 0 2px #e5e5e5;
  }
  .main .questions .qa-box .q {
    position: relative;
    display: block;
    height: 17px;
    margin-bottom: 1px;
    padding: 9px 4px 36px 1px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .main .questions .qa-box .q .fa-question-circle-o:before {
    color: #016ea9;
  }
  .main .questions .qa-box .q p {
    padding: 0 23px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    text-align: left;
  }
  .main .questions .qa-box .q p:hover {
    text-decoration: underline solid black;
    cursor: learning pointer;
  }
  .main .questions .qa-box .answer {
    padding: 20px;
  }
  .main .questions .qa-box .answer p {
    width: 100%;
    padding-left: 10px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    text-align: left;
  }
  .main .questions .qa-box .q:after {
    position: absolute;
    top: 8px;
    right: 0;
    display: block;
    float: right;
    height: 3px;
    padding: 1px 20px;
    color: #e5e5e5;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: FontAwesome;
  }
  .main .questions .qa-box .close:after {
    content: '\f107';
  }
  .main .questions .qa-box .open:after {
    content: '\f106';
  }
  .main .questions .qa-box .hide {
    display: none;
  }
  .footer {
    position: relative;
    padding: 40px 15px 20px 15px;
    text-align: center;
    background-color: #ececec;
  }
  .footer .copyright {
    margin-bottom: -10px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 0.625rem;
    line-height: 17px;
  }
  .footer .copyright a {
    color: #337ab7;
    text-decoration: none;
  }
  .pagetop {
    position: fixed;
    right: 50px;
    bottom: 90px;
    padding: 20px;
    font-size: 1.875rem;
    background-color: #ececec;
    visibility: visible;
    cursor: pointer;
    opacity: 0;
  }
  .pagetop .fa-chevron-up:before {
    content: '\f077';
  }
  .display {
    opacity: 1 !important;
    transition: 0.8s;
  }
  .none_display {
    opacity: 0 !important;
    transition: 0.8s;
  }
}

@media screen and (max-width: 768px) {
  /* for iPhone Landscape (iPhone) */
  html {
    font-size: 12px;
  }
  body .brpc {
    display: none;
  }
  body .pc {
    display: none;
  }
  body .btn {
    color: #ffffff;
    text-align: center;
    background-color: #da6b64;
    border: 1px;
    border-color: #ffffff;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
  }
  body .btn:hover {
    background-color: #d84940;
  }
  body p {
    font-family: 'Hiragino Kaku Gothic Pro', Meiryo, Osaka, 'MS PGothic', sans-serif;
    text-align: center;
  }
  body h1 {
    margin-left: 10px;
    font-size: 0.83333333rem;
  }
  body h2 {
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Hiragino Kaku Gothic Pro', Meiryo, Osaka, 'MS PGothic', sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  body .sub_main_title {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px 30px;
  }
  body .sub_main_title h2 {
    line-height: 40px;
  }
  body .sub_main_title::before, body .sub_main_title::after {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20px;
    height: 50px;
    content: '';
  }
  body .sub_main_title::before {
    top: 0;
    left: 10px;
    width: 30px;
    height: 30px;
    border-top: 4px solid #ebb94d;
    border-left: 4px solid #ebb94d;
  }
  body .sub_main_title::after {
    right: 10px;
    bottom: -1px;
    width: 30px;
    height: 30px;
    border-right: 4px solid #ebb94d;
    border-bottom: 4px solid #ebb94d;
  }
  body .circle_mark {
    width: 60px;
    height: 60px;
    margin: auto;
    line-height: 60px;
    text-align: center;
    background: #ebb94d;
    border-radius: 50%;
  }
  body .circle_mark p {
    color: #ffffff;
    font-size: 1rem;
  }
  body .pc_display {
    display: none;
  }
  body .font_color1 {
    color: #ebb94d;
  }
  body .font_size0 {
    font-size: 1rem;
    line-height: 21px;
  }
  body .font_size1 {
    font-size: 1rem;
  }
  body .font_size1_5 {
    font-size: 1.25rem;
  }
  body .font_size2 {
    font-size: 1.25rem;
  }
  body .font_size2_5 {
    font-size: 2rem;
  }
  body .font_size3 {
    font-size: 1.5rem;
  }
  body .font-weightw1 {
    font-weight: 600;
  }
  body ul {
    list-style: none;
  }
  body .sns_btn {
    height: 24px;
    margin: 4px 0 0 0;
  }
  body .sns_btn .sns_btn_inner {
    display: flex;
    justify-content: center;
    height: 0;
  }
  /* --------------------------------
 * header
 * -------------------------------- */
  header {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: #ffffff;
  }
  header .header_title {
    position: relative;
    top: -14px;
    display: flex;
    justify-content: space-between;
    height: 62px;
    margin: 0 auto;
    padding: 15px 0;
    background-color: white;
  }
  header .header_btn_wrapper {
    display: none;
  }
  header .logo_title {
    display: flex;
    flex-direction: column-reverse;
    padding: 64px 11px;
  }
  header .logo_title .logo img {
    width: 90px;
    height: auto;
    margin: 4px 0;
  }
  header .logo_title .title {
    margin-left: -5%;
  }
  header .logo_title .title p {
    width: 104%;
    font-weight: 600;
    font-size: 0.833333333rem;
  }
  header .btn {
    width: 76px;
    height: 62.4px;
    border-radius: unset;
  }
  header .btn img {
    width: 20px;
    margin: -2px;
  }
  header .btn a {
    display: block;
    color: #fff;
    font-size: 1rem;
  }
  /* --------------------------------
     * title_image
     * -------------------------------- */
  .title_image .image {
    height: 418px;
    padding-top: 120px;
    background: url("../images/mainsp.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .title_image .title1 {
    position: absolute;
    top: 92px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .title_image .title1 p {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
  }
  .title_image .title2 {
    text-align: center;
  }
  .title_image .title2 img {
    position: absolute;
    top: 163px;
    right: 0;
    left: 0;
    width: 311px;
    margin: auto;
  }
  .title_image .title3 {
    position: absolute;
    top: 311px;
    right: 0;
    left: 0;
    margin: auto;
  }
  .title_image .title3 p {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }
  /* --------------------------------
 * main
 * -------------------------------- */
  .main .container-fluid {
    margin-top: -59px;
    padding: 15px 0;
    background-color: #ebb94d;
  }
  .main .container-fluid p {
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
  }
  .main .container-fluid .remarks {
    width: 93%;
    height: 20px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 4px;
  }
  .main .container-fluid .remarks p {
    margin-bottom: 10px;
    color: #c7245e;
    font-size: 1.125rem;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    line-height: 100px;
    line-height: 23px;
  }
  .main .container-fluid .remarks p code {
    padding: 3px;
    background-color: #ffffff;
    border-radius: 4px;
  }
  .main .container-fluid .container-fluid_btn_wrapper {
    margin-top: 51px;
    text-align: center;
  }
  .main .container-fluid .container-fluid_btn_wrapper .container-fluid_btn {
    width: 89%;
    height: 92.8px;
  }
  .main .container-fluid .container-fluid_btn_wrapper .container-fluid_btn p {
    width: 253px;
    margin: auto;
    margin-bottom: -10px;
    font-size: 1.75rem;
  }
  .main .container-fluid .info_period {
    margin-top: 29px;
  }
  .main .container-fluid .info_period p {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 1.25rem;
    line-height: 22px;
  }
  .main .introduction {
    width: auto;
    padding: 24px 0 73px 0;
    background-image: url(../images/introbottom.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
  .main .introduction p {
    width: 302px;
    margin: 11px auto;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 25px;
    text-align: center;
  }
  .main .introduction .under_bar {
    font-weight: 600;
    background: linear-gradient(transparent 70%, #ebb94d 70%);
  }
  .main .about {
    padding: 40px 0;
    background-color: #fef5e0;
  }
  .main .about .circle_mark3 {
    margin-top: -78px;
  }
  .main .about .circle_mark3 p {
    color: #ffffff;
    font-size: 0.875rem;
  }
  .main .about .about_title {
    margin: 0px;
  }
  .main .about .txt_1 p {
    width: 237px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 26px;
    text-align: center;
  }
  .main .about .white_box {
    width: 86%;
    height: auto;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    background: white;
    border: 2px solid #ebb94d;
    border-radius: 5px;
  }
  .main .about .white_box .white_box_title p {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 25px;
  }
  .main .about .white_box .five_skill {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    padding: 0 23px;
  }
  .main .about .white_box .five_skill .skill {
    width: 102px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .main .about .white_box .five_skill .skill img {
    width: auto;
    height: 30px;
  }
  .main .about .white_box .five_skill .skill p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 0.83333333rem;
    line-height: 17px;
  }
  .main .aboutsecond {
    width: auto;
    padding: 59px 0;
    color: #ffffff;
    background-image: url(../images/aboutsecondbgsp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .aboutsecond h2 {
    width: 319px;
    margin: 0px auto;
    margin-bottom: 17px;
    line-height: 23px;
  }
  .main .aboutsecond p {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 1.08333333rem;
    line-height: 20px;
    text-align: center;
  }
  .main .aboutsecond .aboutsecond__box_container {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
  }
  .main .aboutsecond .aboutsecond__box_container .box {
    width: 82%;
    margin: 6px auto;
    padding: 16px 24px 9px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  .main .aboutsecond .aboutsecond__box_container .box .box_title {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .main .aboutsecond .aboutsecond__box_container .box .box_title p {
    height: 17px;
    color: #ffffff;
    font-size: 1rem;
    background-color: #ebb94d;
    border-radius: 5px;
  }
  .main .aboutsecond .aboutsecond__box_container .box .box_sub_title p {
    color: black;
    font-size: 1rem;
  }
  .main .aboutsecond .aboutsecond__box_container .box p {
    color: black;
    font-size: 1rem;
  }
  .main .aboutthird {
    padding: 17px 0;
    color: #ffffff;
    text-align: center;
    background-color: #016ea9;
  }
  .main .aboutthird p {
    width: 79%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1rem;
    line-height: 19px;
  }
  .main .learning {
    padding: 24px 0;
  }
  .main .learning h2 {
    margin: 20px;
  }
  .main .learning .learning_txt1 {
    width: 100%;
    margin: 0 auto;
    padding: 17px;
    font-size: 1.25rem;
    line-height: 25px;
  }
  .main .learning .circle_container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .main .learning .circle_container .circle {
    padding: 0 7px;
  }
  .main .learning .circle_container .circle img {
    width: 100%;
  }
  .main .learning .learning_txt2 {
    padding: 16px;
    font-weight: 600;
  }
  .main .merit {
    position: relative;
    position: relative;
    z-index: 3;
    padding: 23px 0;
    background-color: #fef5e0;
  }
  .main .merit h2 {
    margin: -16px;
    padding: 24px 0px;
    line-height: 20px;
  }
  .main .merit .merit_container {
    margin-top: 18px;
    text-align: center;
  }
  .main .merit .merit_container .merit p {
    padding: 17px 0 0 0;
    font-weight: 700;
  }
  .main .merit .merit_container .merit img {
    width: 93%;
    height: 124px;
    object-fit: cover;
    /* �摜���g���~���O */
  }
  .main .merit .merit_container .merit .merit_txt {
    width: 71.5%;
    margin: 0 auto;
  }
  .main .merit .merit_container .merit .merit_txt p {
    padding: 11px 0;
    font-weight: 300;
    line-height: 22px;
    text-align: initial;
  }
  .main .merit .white_box {
    width: 84%;
    margin: 31px auto 0 auto;
    padding: 13px;
    text-align: center;
    background: white;
    border: 2px solid #ebb94d;
    border-radius: 5px;
  }
  .main .merit .white_box .white_box_container {
    margin: auto;
    font-weight: 600;
    line-height: 21px;
  }
  .main .merit .white_box .white_box_container .white_box_title p {
    font-size: 1.5rem;
  }
  .main .merit .white_box .white_box_container .white_box_sub_title {
    margin: 13px 0;
  }
  .main .merit .white_box .white_box_container .white_box_sub_title p {
    font-size: 1.29rem;
    line-height: 21px;
  }
  .main .merit .white_box .white_box_container p {
    font-size: 0.83333333rem;
    line-height: 17px;
  }
  .main .merit .sub_info {
    padding: 10px;
  }
  .main .merit .sub_info p {
    font-size: 1rem;
  }
  .main .teacher {
    padding-top: 40px;
    color: #ffffff;
    text-align: center;
    background-image: url(../images/teacherbgsp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .teacher .teacher_msg {
    margin: 0 auto;
    padding: 37px 13px;
    font-weight: 600;
    line-height: 20px;
  }
  .main .teacher .teacher_members {
    width: 100%;
    margin: 28px auto;
  }
  .main .teacher .teacher_members .member {
    width: 86%;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
  }
  .main .teacher .teacher_members .member img {
    position: relative;
    bottom: -39px;
    width: 120px;
    border-radius: 50%;
  }
  .main .teacher .teacher_members .member .member_box {
    padding: 1px;
    padding: 31px 0px 6px 0;
    border: 3px solid #ffffff;
  }
  .main .teacher .teacher_members .member .member_box .txt1 {
    padding-top: 14px;
  }
  .main .teacher .teacher_members .member .member_box .txt2 {
    padding: 12px 25.5px;
    text-align: left;
  }
  .main .why .why_header {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: -36px;
    padding: 20px 0 0 0;
    background-color: #ebb94d;
  }
  .main .why .why_header .circle_mark9 {
    background-color: #ffffff;
  }
  .main .why .why_header .circle_mark9 p {
    color: #ffffff;
    color: #ebb94d;
    font-size: 0.875rem;
  }
  .main .why .why_header .sub_main_title {
    margin-bottom: 21px;
  }
  .main .why .why_header .sub_main_title::before {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
  }
  .main .why .why_header .sub_main_title::after {
    border-color: #ffffff;
    border-color: #ffffff;
  }
  .main .why .why_header h2 {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ffffff;
    font-size: 1.16666667rem;
  }
  .main .why .why_header:before {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -25px;
    border: 25px solid transparent;
    border-top: 25px solid #ebb94d;
    content: '';
  }
  .main .why .why_container {
    padding: 49px 0;
    text-align: center;
  }
  .main .why .why_container .txt1 {
    padding: 20px;
  }
  .main .why .why_container .txt2 {
    padding: 20px 30px;
  }
  .main .why .why_container .msg_container {
    margin: auto;
    padding: 0 11px;
  }
  .main .why .why_container .msg_container .msg {
    display: flex;
    margin-bottom: 42px;
    color: #777;
    font-style: italic;
  }
  .main .why .why_container .msg_container .msg img {
    width: 28%;
    height: 28%;
    border: 3px solid #ebb94d;
  }
  .main .why .why_container .msg_container .msg .txt3 {
    padding: 0 17px;
    line-height: 22px;
    text-align: left;
  }
  .main .why .why_container .msg_container .msg .name {
    font-size: 1.07rem;
    text-align: left;
    text-decoration: underline;
  }
  .main .answer_learn {
    margin-top: -35px;
    padding: 53px 0 0 0;
    background: url("../images/classbgsp.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .answer_learn h2 {
    color: #ffffff;
  }
  .main .answer_learn .txt1 {
    padding: 21px;
    color: #ffffff;
  }
  .main .answer_learn .listbox_container {
    width: 99%;
    margin: 0 auto;
    padding: 16px 0;
  }
  .main .answer_learn .listbox_container .list {
    width: 90%;
    height: 100%;
    margin: 13px auto;
    padding: 0;
    background-color: #ffffff;
    border: 2px solid #016ea9;
    border-radius: 5px;
  }
  .main .answer_learn .listbox_container .list .txt2 {
    padding: 21px;
    color: #ffffff;
    background-color: #016ea9;
  }
  .main .answer_learn .listbox_container .list ul {
    margin: 0;
    padding: 0;
  }
  .main .answer_learn .listbox_container .list li {
    padding: 16px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px dotted #e5e5e5;
  }
  .main .classbottom {
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
    background-color: #016ea9;
  }
  .main .classbottom .txt1 {
    line-height: 25px;
    letter-spacing: 1px;
  }
  .main .flow {
    padding: 40px 0;
    text-align: center;
  }
  .main .flow .flow__flow {
    max-width: 100%;
    padding: 56px;
  }
  .main .flow .boxs {
    margin-top: 39px;
  }
  .main .flow .boxs .box_container {
    width: 95%;
    height: auto;
    margin: 8px auto;
    margin-bottom: 5px;
    padding: 10px 3px;
    background-color: #fef5e0;
    box-shadow: 0 0 2px #e5e5e5;
  }
  .main .flow .boxs .box_container:hover {
    cursor: pointer;
  }
  .main .flow .boxs .box_container .click_mark {
    text-decoration: underline solid black;
  }
  .main .flow .boxs .box_container .box_title {
    display: flex;
    padding: 1px 0px 0 17px;
  }
  .main .flow .boxs .box_container .box_title p:hover {
    text-decoration: underline solid black;
    cursor: pointer;
  }
  .main .flow .boxs .box_container .box_title img {
    width: 35px;
    height: 35px;
  }
  .main .flow .boxs .box_container .box_title .txt1 {
    width: 77%;
    padding: 13px;
    text-align: left;
  }
  .main .flow .boxs .box_container .txt_area {
    padding: 20px;
  }
  .main .flow .boxs .box_container .txt_area p {
    padding-left: 10px;
    font-size: 1rem;
    line-height: 28px;
  }
  .main .flow .boxs .box_container .txt_area .txt2 {
    width: 100%;
    margin: 10px auto;
    line-height: 20px;
    text-align: left;
  }
  .main .flow .boxs .box_container .txt_area .txt3 {
    width: 100%;
  }
  .main .flow .boxs .box_container .box_title:after {
    position: absolute;
    right: 17px;
    padding: 9px 20px;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: FontAwesome;
  }
  .main .flow .boxs .box_container .close:after {
    content: '\f107';
  }
  .main .flow .boxs .box_container .open:after {
    content: '\f106';
  }
  .main .flow .boxs .box_container .hide {
    display: none;
  }
  .main .bangkok {
    padding: 47px;
    color: #ffffff;
    background: url("../images/bangkokbgsp.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .bangkok h2 {
    margin: 31px auto;
  }
  .main .bangkok .bangkok_merit {
    font-weight: 600;
  }
  .main .bangkok p {
    padding: 5px;
    line-height: 21px;
    text-align: left;
  }
  .main .special {
    padding: 40px 0;
    text-align: center;
    background-color: #f7c23c;
  }
  .main .special .txt1 {
    color: #ffffff;
    line-height: 19px;
  }
  .main .special .txt2 {
    margin: 0 auto;
    padding: 22px 0px 22px 0px;
  }
  .main .special .white_box {
    position: relative;
    width: 92%;
    margin: 52px 56px 0px 56px;
    margin-right: auto;
    margin-left: auto;
    padding: 53px 22px 22px 22px;
    border: 2px solid #ffffff;
  }
  .main .special .white_box .box_title {
    position: absolute;
    top: -52px;
    left: 31px;
    width: 84%;
    line-height: 30px;
    background-color: #f7c23c;
  }
  .main .special .white_box .box_circle_container {
    margin: 0 auto;
  }
  .main .special .white_box .txt3 {
    position: relative;
    top: 16px;
    margin: 0 auto;
  }
  .main .special .white_box .box_circle_container .circle {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    margin-left: 17px;
    line-height: 64px;
    text-align: center;
    background: #ffffff;
    border-radius: 50%;
  }
  .main .special .white_box .box_circle_container .circle .circle_title {
    position: absolute;
    left: 51px;
    font-weight: 600;
    font-size: 1rem;
  }
  .main .special .white_box .box_circle_container .circle p {
    color: #ebb94d;
  }
  .main .special .white_box .box_circle_container .circle .txt4 {
    position: absolute;
    /* top: 15px; */
    left: 108px;
    width: 55%;
    padding: 11px 0px 12px 10px;
    color: black;
    color: #ffff;
    line-height: 16px;
    text-align: justify;
  }
  .main .specialdetail {
    padding: 20px 9px;
    color: #ffffff;
    background: url(../images/specialdetailsp.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main .specialdetail specialdetail_txt1 {
    padding: 40px;
    line-height: 28px;
  }
  .main .specialdetail .sub_main_title::before {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
  }
  .main .specialdetail .sub_main_title::after {
    border-color: #ffffff;
    border-color: #ffffff;
  }
  .main .specialdetail .specialdetail_txt2 {
    line-height: 28px;
  }
  .main .learning {
    padding: 51px 0;
  }
  .main .learning h2 {
    margin-bottom: 35px;
  }
  .main .learning .txt1 {
    width: 66%;
    margin: 0 auto;
    line-height: 21px;
  }
  .main .learning .learning_container img {
    width: 100%;
    /* height: 155px; */
    padding: 14px 4%;
  }
  .main .learning .learning_container .msg {
    width: 90%;
    margin: 0 auto;
  }
  .main .learning .learning_container .msg p {
    padding-bottom: 12px;
    font-size: 1.1rem;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
  }
  .main .learning .learning_container .msg .specialdetail_txt1 {
    padding-bottom: 32px;
  }
  .main .contactform {
    padding: 40px 5%;
    background-color: #f7c23c;
  }
  .main .contactform .learning_txt1 {
    margin-bottom: 20px;
    padding: 16px 0;
  }
  .main .contactform input,
  .main .contactform textarea {
    width: 100%;
    height: 45px;
    margin-bottom: 25px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  .main .contactform textarea {
    height: 75px;
    margin-top: 25px;
  }
  .main .contactform .btn {
    height: 64px;
    margin-top: 11px;
    font-size: 1.91666667rem;
    border-radius: 50px;
  }
  .main .questions {
    padding: 40px 4%;
  }
  .main .questions h2 {
    margin-bottom: 45px;
  }
  .main .questions .qa-box {
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0 0 2px #e5e5e5;
  }
  .main .questions .qa-box .q {
    position: relative;
    display: block;
    height: auto;
    margin-bottom: 1px;
    /* padding: 9px 4px 3px 1px; */
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .main .questions .qa-box .q .fa-question-circle-o:before {
    color: #016ea9;
  }
  .main .questions .qa-box .q p {
    width: 93%;
    padding: 0 10px;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 28px;
    letter-spacing: 2px;
    text-align: left;
  }
  .main .questions .qa-box .q p:hover {
    text-decoration: underline solid black;
    cursor: pointer;
  }
  .main .questions .qa-box .answer {
    padding: 20px;
  }
  .main .questions .qa-box .answer p {
    /* width: 1086px; */
    padding-left: 10px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: left;
  }
  .main .questions .qa-box .q:after {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    display: block;
    /* float: right; */
    height: 22px;
    margin: 0 auto;
    padding: 0px 20px;
    color: #e5e5e5;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: FontAwesome;
    transform: translateY(-50%);
  }
  .main .questions .qa-box .close:after {
    content: '\f107';
  }
  .main .questions .qa-box .open:after {
    content: '\f106';
  }
  .main .questions .qa-box .hide {
    display: none;
  }
  .footer {
    position: relative;
    padding: 1px 15px 0px 15px;
    text-align: center;
    background-color: #ececec;
  }
  .footer .copyright {
    margin-top: 23px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 0.833333333rem;
    line-height: 17px;
  }
  .footer .copyright a {
    color: #337ab7;
    text-decoration: none;
  }
  .pagetop {
    position: fixed;
    right: 14px;
    bottom: 26px;
    padding: 13px;
    font-size: 1.3rem;
    background-color: #ececec;
    visibility: visible;
    cursor: pointer;
    opacity: 0;
  }
  .pagetop .fa-chevron-up:before {
    content: '\f077';
  }
  .display {
    opacity: 1 !important;
    transition: 0.8s;
  }
  .none_display {
    opacity: 0 !important;
    transition: 0.8s;
  }
}
